<footer>
  <aside class="container">
    <p>
      <a href="/">Ben Clinkinbeard</a> is an independent consultant with more
      than a decade of experience and a lengthy track record of delivering
      successful outcomes for clients. You can find him on
      <a href="https://github.com/bclinkinbeard/">GitHub</a>,
      <a href="https://www.npmjs.com/~bclinkinbeard">npm</a>,
      and <a href="https://twitter.com/bclinkinbeard">Twitter</a>.
    </p>

    <p>
      <a href="mailto:ben@knowbetter.io">Get in touch</a> if you need a proven
      leader in architecture, devops, data visualization, R&amp;D, or training.
    </p>
  </aside>
</footer>
<script src="/mixpanel.js"></script>
<script>
  mixpanel.track('page', { title: document.title });
  document.getElementById('mce-DOC-header').setAttribute('value', 'Header - ' + document.title);
  // $('#mce-DOC-footer').val('Footer - ' + document.title);
</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-40133546-2', 'auto');
  ga('send', 'pageview');

</script>
