<footer>
  <aside class="container">
    <p>
      <a href="/">Ben Clinkinbeard</a> is an independent consultant with more
      than a decade of experience and a lengthy track record of delivering
      successful outcomes for clients. You can find him on
      <a href="https://github.com/bclinkinbeard/">GitHub</a>,
      <a href="https://www.npmjs.com/~bclinkinbeard">npm</a>,
      and <a href="https://twitter.com/bclinkinbeard">Twitter</a>.
    </p>

    <p>
      <a href="mailto:ben@knowbetter.io">Get in touch</a> if you need a proven
      leader in architecture, devops, data visualization, R&amp;D, or training.
    </p>
  </aside>
</footer>
<!-- Drip -->
<script type="text/javascript">
  var _dcq = _dcq || [];
  var _dcs = _dcs || {}; 
  _dcs.account = '4436187';
  
  (function() {
    var dc = document.createElement('script');
    dc.type = 'text/javascript'; dc.async = true; 
    dc.src = '//tag.getdrip.com/4436187.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(dc, s);
  })();
</script>
