<header role="banner">
  <span data-drip-attribute="headline">
    Want D3.js Tutorials Sent Right to Your Inbox?
  </span>
  <form data-drip-embedded-form="38729927"
    action="https://www.getdrip.com/forms/38729927/submissions"
    method="post">
    <div id="form-container">
      <input type="hidden" value="" name="DOC" id="mce-DOC-header">

      <input type="email" name="fields[email]" placeholder="level@up.com">
      
      <input 
        id="sub-btn"
        type="submit"
        name="submit"
        value="Keep me posted!"
        class="button button-approve"
        data-drip-attribute="sign-up-button" />

      <input 
        id="sub-btn-phone"
        type="submit"
        name="submit"
        value="Send new posts to my inbox!"
        class="button button-approve"
        data-drip-attribute="sign-up-button" />

    </div>
  </form>
</header>