<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/prism.css">
  <link rel="stylesheet" href="/styles.css">
  <script src="/mixpanel.js"></script>
</head>
<body>
  {{> header}}
  <div class="container">
    <h1 class="post-title">{{title}}</h1>
    <h3 class="post-date-label">{{dateLabel}}</h3>
    {{{contents}}}
  </div>
  <script src="/prism.js"></script>
</body>
</html>
